/// Colors
$black: #000;
$white: #fff;
$error: #f00;
$success: #2ec60e;

// Vars
$breakpoints: (
  "horizontal": (
    "xs": 400px,
    "sm": 480px,
    "tb": 600px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px,
    "lt": 1440px,
    "hd": 1680px,
    "fhd": 1919px
  )
);
